<h1>Superhero Team!</h1>

<form action="/teams" method="POST">

  <label for="team_name">Team Name:</label>
  <input type="text" id="team_name" name="team[name]">

  <label for="team_motto">Team Motto:</label>
  <input type="text" id="team_motto" name="team[motto]">

  <p></p>

  <label for="member1_name">Hero's Name:</label>
  <input type="text" id="member1_name" name="team[superheroes][][name]">

  <label for="member1_power">Hero's Power:</label>
  <input type="text" id="member1_power" name="team[superheroes][][power]">

  <label for="hero_1_bio">Hero's Biography:</label>
  <input type="text" id="hero_1_bio" name="team[superheroes][][bio]">

  <p></p>

  <label for="hero_2_name">Hero's Name:</label>
  <input type="text" id="hero_2_name" name="team[superheroes][][name]">

  <label for="hero_2_power">Hero's Power:</label>
  <input type="text" id="hero_2_power" name="team[superheroes][][power]">

  <label for="hero_2_bio">Hero's Biography:</label>
  <input type="text" id="hero_2_bio" name="team[superheroes][][bio]">

  <p></p>

  <label for="hero_3_name">Hero's Name:</label>
  <input type="text" id="hero_3_name" name="team[superheroes][][name]">

  <label for="hero_3_power">Hero's Power:</label>
  <input type="text" id="hero_3_power" name="team[superheroes][][power]">

  <label for="hero_3_bio">Hero's Biography:</label>
  <input type="text" id="hero_3_bio" name="team[superheroes][][bio]">

  <p></p>




  <input type="submit" id="submit" value="submit">

</form>
