<h1>Superhero Team!</h1>

<form action="/teams" method="POST">

  <label for="team_name">Team Name:</label>
  <input type="text" id="team_name" name="team[name]">

  <label for="team_motto">Team Motto:</label>
  <input type="text" id="team_motto" name="team[motto]">

  <label for="hero_1_name">Hero's Name:</label>
  <input type="text" id="hero_1_name" name="team[motto]">



  <input type="submit" id="submit" value="submit">

</form>
